Yanli_Wang_Portfolio_Design_Document.md
Yanli_Wang_Portfolio_Design_Document.pdf
01_Project_Description.docx
02_User_Personas_and_User_Stories.docx
03_Design_Mockups.docx
node_modules/
presentation/Yanli_Wang_Portfolio_2_Minute_Presentation.pptx
presentation/Yanli_Wang_Presentation_and_Demo_Scripts.docx
Yanli_Wang_Presentation_and_Demo_Scripts.docx
Yanli_Wang_Portfolio_2_Minute_Presentation.pptx
